.project-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.project-title-container {
  font-weight: 600;
  color: white;
  font-size: 30px;
}
.project .section-data {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.project-icon-div {
  cursor: pointer;
  margin: 80px 0px;
}

/* .project-contact .project-container .project-icon-div img {
  margin: auto;
  align-items: center;
} */

.project-container .project-icon-div .project-icon {
  height: 70px;
}

@media only screen and (max-width: 750px) {
  .project-title-container {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  .project .section-data{
    
    text-align: center;
  }
  .project-contact{
    flex-direction: column;
  }
  .project-icon {
    height: 30px;/* 
    margin-top: 80px; */
  }
  .project-icon-div {
    flex-direction: row;
    margin: 5px;
    margin-top: 70px;
  }
  .btn {
    justify-content: center;
    text-decoration: none;
    width: 90px;
    margin-top: 10px;
  }
}
